@model Capstone.Web.Models.RecipeModel

@{
    ViewBag.Title = "AddRecipe";
}

<h2>AddRecipe</h2>

@using (Html.BeginForm("AddRecipe", "Home", FormMethod.Post))
{
    <div>
        @Html.Label("Name", "Recipe Name")
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.Label("Directions", "Directions")
        @Html.TextAreaFor(m => m.Directions)
    </div>
    <div>
        @Html.Label("Ingredients", "Ingredients Separated By Comma (, )")
        @Html.TextAreaFor(m => m.Ingredients)
    </div>
    <div>

    </div>
}