@using Capstone.Web.Models
@model List<RecipeModel>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-3.1.1.intellisense.js"></script>

<p></p>
@using (Html.BeginForm("Admin", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table class="table">
        <tr>
            <th>
                Recipe ID
            </th>
            <th>
                Name
            </th>
            <th>
                Directions
            </th>
            <th>
                User ID
            </th>
            <th>
                Username
            </th>
            <th>
                Ingredients
            </th>
            <th>
                ImageName
            </th>
            <th>
                Tags
            </th>
            <th>
                Is Public
            </th>
            <th>Delete Recipe</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].RecipeID)
                    @Html.HiddenFor(modelItem => Model[i].RecipeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                    @Html.HiddenFor(modelItem => Model[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Directions)
                    @Html.HiddenFor(modelItem => Model[i].Directions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].UserID)
                    @Html.HiddenFor(modelItem => Model[i].UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].UserName)
                    @Html.HiddenFor(modelItem => Model[i].UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Ingredients)
                    @Html.HiddenFor(modelItem => Model[i].Ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].ImageName)
                    @Html.HiddenFor(modelItem => Model[i].ImageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Tags)
                    @Html.HiddenFor(modelItem => Model[i].Tags)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => Model[i].IsPublics)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => Model[i].DeleteRecipe)
                </td>

            </tr>

        }
    </table>
    <div class="form-group, body">
        <div id="ImageName" class="col-md-1, body">
            <input type="submit" value="Create" class="btn btn-default, col-lg-1, body" />
        </div>
    </div>
}


    <table>
    @for (int i = 0; i < Model.Count; i++)
    {
        using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                    @Html.HiddenFor(modelItem => Model[i].Name)
                    @*@Html.HiddenFor(modelItem => Model[i].RecipeID)*@
                    <input name="recipeId" type="hidden" value="@Model[i].RecipeID"/>
                </td>
                <td>
                    <input type="file" name="file" />
                    <input type="submit" value="OK" />
                </td>
                @(ViewBag.Model = Model[i])
            </tr>
        }


    }
</table>



                

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>


    </table>
        <button>Submit</button>
        <table>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    UserName
                </td>
                <td>
                    UserID
                </td>
            </tr>
            @foreach (UserModel u in Session["subscribers"] as List<UserModel>)
            {
                <tr>
                    <td>
                    @u.Email
                        </td>
               <td>
                    @u.UserName
                </td>
                    <td>
                    @u.UserID
                        </td>
                </tr>
            }
            <tr>

            </tr>
        </table>


