@model IEnumerable<Capstone.Web.Models.RecipeModel>

@{
    ViewBag.Title = "Index";
}

@*<div>
<h2>
    <img src="~/Img/Cancer-Support-Community.jpg" alt="Cancer Support Community Central Ohio" class="image"/>
         </h2>
    </div>*@
<p>
    @Html.ActionLink("Create New", "AddRecipe")
</p>
<table class="table">

    <tr  class="bodyByBod" style="font-size:20px">
        <th class="bodyByBod">@*directions*@

            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="bodyByBod">
            @Html.DisplayNameFor(model => model.Directions)
        </th>  
        <th class="bodyByBod">
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th class="bodyByBod">
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="display:list-item">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <pre id="pre">@Html.DisplayFor(modelItem => item.Directions)
            </pre>
        </td>
        <td>
            <pre id="pre">@Html.DisplayFor(modelItem => item.Ingredients)
            </pre>
        </td>
        <td class="public">
            <a href="@Url.Action("Details","Home", new { id = item.RecipeID })" ><img src="~/Img/@item.ImageName"/></a>@Html.DisplayFor(modelItem => item.ImageName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecipeID }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
