@model IEnumerable<Capstone.Web.Models.RecipeModel>

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<div>
<h2>
    <img src="~/Img/Cancer-Support-Community.jpg" alt="Cancer Support Community Central Ohio" class="image"/>
         </h2>
    </div>
<p>
    @Html.ActionLink("Create New", "AddRecipe")
</p>
<table class="table">
    <tr  class="directions" style="font-size:20px">
        <th class="directions">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="directions">
            @Html.DisplayNameFor(model => model.Directions)
        </th>  
        <th class="directions">
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th class="directions">
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <pre id="pre">
                @Html.DisplayFor(modelItem => item.Directions)
            </pre>
        </td>
        <td>
            <pre id="pre">
                @Html.DisplayFor(modelItem => item.Ingredients)
            </pre>
        </td>
        <td class="public">
            @Html.DisplayFor(modelItem => item.ImageName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecipeID }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
