@using Capstone.Web.Models;
@using System.Collections.Generic;

@model List<PlanModel>

@{
    ViewBag.Title = "ViewPlan";
}


<div class="container">
    <div class= "row match-my-cols">
        <div class ="col-md-4" style="background-color: lightcoral">
            <h2 style="background-color: lightcoral">Sunday</h2>
            @foreach (PlanModel plan in Model)
            {
                if (plan.Day == "Sunday")
                {
                    <h4>@plan.Meal</h4>
                    <p>@plan.Recipes.Name</p>
                    <a href="@Url.Action("Details", "Home", new {id = plan.Recipes.RecipeID})"> <img id="picbox" src="~/Img/@plan.Recipes.ImageName" alt="Picture unavailable." /> </a>
                   <button id="@plan.MealId delete">delete</button>
                }

            }
        </div>

        <div class="col-md-4" style="background-color: lightsalmon" id="height100">
            <h2>Monday</h2>
            @foreach (PlanModel plan in Model)
            {
                if (plan.Day == "Monday")
                {
                    <h4>@plan.Meal</h4>
                    <p>@plan.Recipes.Name</p>
                    <a href="@Url.Action("Details", "Home", new {id = plan.Recipes.RecipeID})"> <img id="picbox" src="~/Img/@plan.Recipes.ImageName" alt="Picture unavailable."/> </a>
                }
            }
        </div>

        <div class="col-md-4" style="background-color: lightgoldenrodyellow" id="height100">
            <h2>Tuesday</h2>
            @foreach (PlanModel plan in Model)
            {
                if (plan.Day == "Tuesday")
                {
                    <h4>@plan.Meal</h4>
                    <p>@plan.Recipes.Name</p>
                    <a href="@Url.Action("Details", "Home", new {id = plan.Recipes.RecipeID})"> <img id="picbox" src="~/Img/@plan.Recipes.ImageName" alt="Picture unavailable."  /> </a>
                }
            }
        </div>
    </div>

    <div class="row match-my-cols">
        <div class="col-md-3" style="background-color: lightseagreen">
            <h2>Wednesday</h2>
            @foreach (PlanModel plan in Model)
            {
                if (plan.Day == "Wednesday")
                {
                    <h4>@plan.Meal</h4>
                    <p>@plan.Recipes.Name</p>
                    <a href="@Url.Action("Details", "Home", new {id = plan.Recipes.RecipeID})"> <img id="picbox" src="~/Img/@plan.Recipes.ImageName" alt="Picture unavailable."  /> </a>
                }
            }
        </div>

        <div class="col-md-3" style="background-color: lightskyblue">
            <h2>Thursday</h2>
            @foreach (PlanModel plan in Model)
            {
                if (plan.Day == "Thursday")
                {
                    <h4>@plan.Meal</h4>
                    <p>@plan.Recipes.Name</p>
                    <a href="@Url.Action("Details", "Home", new {id = plan.Recipes.RecipeID})"> <img id="picbox" src="~/Img/@plan.Recipes.ImageName" alt="Picture unavailable."  /> </a>
                }
            }
        </div>

        <div class="col-md-3" style="background-color: mediumpurple">
            <h2>Friday</h2>
            @foreach (PlanModel plan in Model)
            {
                if (plan.Day == "Friday")
                {
                    <h4>@plan.Meal</h4>
                    <p>@plan.Recipes.Name</p>
                    <a href="@Url.Action("Details", "Home", new {id = plan.Recipes.RecipeID})"> <img id="picbox" src="~/Img/@plan.Recipes.ImageName" alt="Picture unavailable." /> </a>
                }
            }
        </div>

        <div class="col-md-3" style="background-color: mediumorchid">
            <h2>Saturday</h2>
            @foreach (PlanModel plan in Model)
            {
                if (plan.Day == "Saturday")
                {
                    <h4>@plan.Meal</h4>
                    <p>@plan.Recipes.Name</p>
                    <a href="@Url.Action("Details", "Home", new {id = plan.Recipes.RecipeID})"> <img id="picbox" src="~/Img/@plan.Recipes.ImageName" alt="Picture unavailable."  /> </a>
                }
            }
        </div>
    </div>

</div>



