@model Capstone.Web.Models.UserModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    <br>
    <div class="body">
        @Html.PasswordFor(m => m.TempPassword, new { placeholder = "Old Password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
   <br>
<div class="body">
    @Html.PasswordFor(m => m.Password, new { placeholder = "New Password" })
    @Html.ValidationMessageFor(m => m.Password)
</div>
<br>


<div class="body">
    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
</div>
<br>

<div class="body">
    <button>Change</button>
</div>

}