
@{
    Layout = null;
}

<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/masonry-docs.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />

</head>

<body class="body">
    <header class="body"> 
            <a href="@Url.Action("Index","Home")"><img src="~/Img/Cancer-Support-Community.jpg" alt="Cancer Support Community Central Ohio" class="body dingleberry"/></a>
        @*<a href="@Url.Action("Index", "Home")"><img src="~/Img/cancer-foundation-cancer-ribbons.jpg" alt="Support All Those Affected By Cancer" class="rightImage"/></a>*@


        </header>
    <br>
   
    <div> @*class="navbar navbar-inverse navbar-fixed-top"*@
        <div class="container, nav">
            <div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("| Home |", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("| Register |", "Register", "User", new { area = "" }, new { @class = "navbar-brands" })
                @Html.ActionLink("| Login |", "Login", "User", new { area = "" }, new { @class = "navbar-brands" })
                @Html.ActionLink("| Search |", "Search", "Search", new { area = "" }, new { @class = "navbar-brand" })
                @if (Authorize.Registered((int?)Session["authorizationlevel"]) == true || Authorize.Admin((int?)Session["authorizationlevel"]) == true)
                {
                @Html.ActionLink("| Plan |", "Index", "Plan", new { area = "" }, new { @class = "navbar-brands" })
                }
                @using Capstone.Web.DAL@if (Authorize.Registered((int?)Session["authorizationlevel"]) == true || Authorize.Admin((int?)Session["authorizationlevel"]) == true)
                {
                @Html.ActionLink("| Add Recipe |", "AddRecipe", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                @if (Authorize.Registered((int?)Session["authorizationlevel"]) == true || Authorize.Admin((int?)Session["authorizationlevel"]) == true)
                {
                    @Html.ActionLink("| Change Password |", "ChangePassword", "User", new { area = "" }, new { @class = "navbar-brands" })
                }
                @if (Authorize.Admin((int?)Session["authorizationlevel"]) == true)
                {
                @Html.ActionLink("| Admin |", "Admin", "Home", new { area = "" }, new { @class = "navbar-brands" })
                }
                @if (Authorize.Registered((int?)Session["authorizationlevel"]) == true || Authorize.Admin((int?)Session["authorizationlevel"]) == true)
                {
                    @Html.ActionLink("| User Page |", "UserPage", "User", new { area = "" }, new { @class = "navbar-brands" })
                }
                @if (Authorize.Registered((int?)Session["authorizationlevel"]) == true || Authorize.Admin((int?)Session["authorizationlevel"]) == true)
                {
                    @Html.ActionLink("| Logout |", "Logout", "User", new { area = "" }, new { @class = "navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav, navbar-nav"></ul>
            </div>
        </div>
    </div>


    <div>
        @RenderBody()
    </div>
</body>
</html>
